.mantine-1gp3704{
    padding-left: 0;
    padding-right: 0;
}

.popup {
    animation: fadeIn 0.85s;
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* padding: 10px;
    background-color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    animation: fadeIn 0.85s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* width: 200px; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* transform: translate(-50%, -60%); */
        /* width:0;
        height: 0; */
    }
    to {
        opacity: 1;
        /* transform: translate(-50%, -50%); */
        /* width:15%;
        height: 10%; */
    }
}

.checkmark {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid rgb(20, 75, 156);
    font-size: 25px;
    color: #fafbfc; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 75, 156);
    transition: all 0.8s ease;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; 
}

#pa {
    display: block;
}
/* .mantine-1q36a81{
    height: 9rem;
} */
/* 
iframe:focus {
    outline: none;
  }
  
  iframe[seamless] {
    display: block;
  } */

  .icon-animation {
    
    animation: spin 0.8s linear forwards, fadeIn 0.85s ease-in;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
      font-size: 0;
    }
    to {
      transform: rotate(360deg);
      font-size: 2.2rem;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }